# Formal Verification
Prove (or disprove) the *correctness* of hardware and software based on
- A formal semantics
- with respect to a formal specification
- using formal (mathematical) methods
