.event_box {
    outline: 2px solid white;
}

.tl-label {
    text-anchor: middle;
    dominant-baseline: middle;
}

.tl_path {
    fill:none;
    stroke: white;
    stroke-width: 5;
}

.event_box text {
    font-size: 42;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
}

.legend_label {
    dominant-baseline: middle;
    fill: white;
}

.hlb #label_push_b text {
    fill: green;
}

.highlight {
    display: none;
}

.linpt {
    fill: red;
}

.ignored {
    opacity: 0.3;
}

.hidden {
    opacity: 0;
}

/* .lb { */
/*     font-size: 1vh; */
/*   } */
.instr {
    font-size: 8px;
  }
.msg {
    fill: gray;
}

.hdl_label {
    fill: white;
    font-size: 30px;
}

.hdl_box {
    fill: none;
}

.hdl_box text {
    fill: white;
    font-size: 20px;
}

.pctr {
    fill: red;
}


.mailbox {
    fill: none;
    stroke: white;
}

.edgegroup rect {
    fill: var(--r-background-color);
}

.eo_e {
    fill: lightblue;
    stroke: lightblue;
}
.eo_l {
    fill: lightblue;
    font-size: 9px;
}


.rf_e {
    fill: lightgreen;
    stroke: lightgreen;
}
.rf_l {
    fill: lightgreen;
    font-size: 9px;
}

.pb_e {
    fill: yellow;
    stroke: yellow;
}
.pb_l {
    fill: yellow;
    font-size: 9px;
}

.co_e {
    fill: orange;
    stroke: orange;
}
.co_l {
    fill: orange;
    font-size: 9px;
}

.mo_e {
    fill: magenta;
    stroke: magenta;
}
.mo_l {
    fill: magenta;
    font-size: 9px;
}

.fr_e {
    fill: red;
    stroke: red;
}
.fr_l {
    fill: red;
    font-size: 9px;
}

.nodecirc {
    fill: none;
    stroke: white;
}

.nodetext {
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 22px;
}

.nodecirc.active {
    stroke: green;
}

.arrow_e {
    fill: none;
    stroke: lightgreen;
}

.arrow_l {
    transform-box: fill-box;
    font-size: 8px;
    fill: white;
    stroke: var(--r-background-color);
    stroke-width: 6;
    paint-order: stroke fill;
}

.event {
    font-size: 8px;
    fill: white;
}

/* .svg-wrapper { */
/*     width: 100%; */
/*     height: 100%; */
/* } */

/* .svg-wrapper svg { */
/*     transform: none !important; */
/*     transform-box: fill-box; */
/* } */
