.event_box {
    outline: 2px solid white;
}

.tl-label {
    text-anchor: middle;
    dominant-baseline: middle;
}

.tl_path {
    fill:none;
    stroke: white;
    stroke-width: 5;
}

.event_box text {
    font-size: 42;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
}

.legend_label {
    dominant-baseline: middle;
    fill: white;
}

.hlb #label_push_b text {
    fill: green;
}

.highlight {
    display: none;
}

.linpt {
    fill: red;
}

.ignored {
    opacity: 0.3;
}

.hidden {
    opacity: 0;
}

/* .lb { */
/*     font-size: 1vh; */
/*   } */
.instr {
    font-size: 8px;
  }
.msg {
    fill: gray;
}

.hdl_label {
    fill: white;    
}

.hdl_box {
    fill: none;
}

.hdl_box text {
    fill: white;
    font-size: 20px;
}

.pctr {
    fill: red;
}
