h3 {
    display: none;
}

h1 {
    font-size: 2em  !important;
    text-align: left !important;
}

.reveal h2 {
    font-size: 1em !important;
    text-align: left !important;
}

.reveal h4 {
    text-align: left !important;
}

.reveal p {
    text-align: left !important;
}
