h3 {
    display: none;
}

h1 {
    font-size: 2.5em  !important;
    text-align: left !important;
}

.reveal h2 {
    text-align: left !important;
}

.reveal h4 {
    text-align: left !important;
}

.reveal p {
    text-align: left !important;
}
